<div>
  <h2>Log in</h2>
</div>

<%= form_tag login_path do %>
  <div class='field'>
    <%= text_field_tag :name, nil, placeholder: 'Name' %><br />
  </div>
  <div class='field'>
    <%= password_field_tag :password, nil, placeholder: 'Password' %><br />
  </div>
  <br />
  <div class='actions'>
    <%= submit_tag 'Log in' %>
  </div>
<% end %>

<br /><%= link_to 'Log in with Facebook', '/auth/facebook' %><br />

<br /><%= link_to 'Register', new_user_path %>