<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>


<h1>Let's Create a New World </h1>

<h2> World: </h2>
<%= form_for @worlds do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<% end %>
<%= f.submit %>
    <% end %>